[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
python-gnupg = ">=0.5.0"
pyqt5 = "==5.15.7"
fuzzywuzzy = ">=0.18.0"
python_Levenshtein = ">=0.21.1"
gpged = {path = "."}


[dev-packages]

[requires]
python_version = "3.11"